.ibox-content {
	padding-bottom: 60px;
}

.img-custom {
    width: 350px;
}

dt {
	font-weight: 200 !important;
	width: 160px !important;
	font-size: 20px;
	text-align: left !important;
}

dd {
	margin-left: 185px !important;
	font-weight: 500 !important;	
	font-size: 20px;
}

.name-custom {
	font-size: 3.4em !important;
    font-weight: 500 !important;
}

.info-line {
    margin-top: 8px;
    border-bottom: solid 0.5px #dcece9;
}

#album-box img {
	margin-top: 12px;
}

#img-box img {
	height: auto;
 	width: 150px;
}

#img-box {
	height: 100px !important;
	width: 107px !important;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-right: -3px;
	margin-top: 5px;

}

.im_upload {
	clear: left !important;
	margin-left: 1px !important;
}

.thumb {
  background-color: #f4f6f9;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: inline-block;
  padding: 0 57px;
  margin-top: 10px;
  float: left;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border-radius: 4px;
  border: 1px solid #aeb3ba;
}
.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  margin-bottom: 0;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.upload-img-box {
	display: inline-block;
}

input[type=file] {
    display: inline-block;
    width: auto;
}


.avatar-frame{border: 0px solid #c7b89e;}
.avatar-frame,.avatar-frame img{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}

.avatar-team {
  width: 260px;
}